<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>ActionResult</key>
			<dict>
				<key>AnalyzerWarningCount</key>
				<integer>0</integer>
				<key>ErrorCount</key>
				<integer>0</integer>
				<key>HasCodeCoverage</key>
				<false/>
				<key>Status</key>
				<string>IDEActionResultStatus_NotRequested</string>
				<key>TestsCount</key>
				<integer>0</integer>
				<key>TestsFailedCount</key>
				<integer>0</integer>
				<key>WarningCount</key>
				<integer>0</integer>
			</dict>
			<key>BuildResult</key>
			<dict>
				<key>AnalyzerWarningCount</key>
				<integer>0</integer>
				<key>AnalyzerWarningSummaries</key>
				<array/>
				<key>ErrorCount</key>
				<integer>0</integer>
				<key>ErrorSummaries</key>
				<array/>
				<key>HasCodeCoverage</key>
				<false/>
				<key>LogPath</key>
				<string>1_Run/build.xcactivitylog</string>
				<key>Status</key>
				<string>IDEActionResultStatus_Succeeded</string>
				<key>TestFailureSummaries</key>
				<array/>
				<key>TestsCount</key>
				<integer>0</integer>
				<key>TestsFailedCount</key>
				<integer>0</integer>
				<key>WarningCount</key>
				<integer>0</integer>
				<key>WarningSummaries</key>
				<array/>
			</dict>
			<key>EndedTime</key>
			<date>2018-12-06T06:03:23Z</date>
			<key>RunDestination</key>
			<dict>
				<key>LocalComputer</key>
				<dict>
					<key>BusSpeedInMHz</key>
					<integer>400</integer>
					<key>CPUCount</key>
					<integer>1</integer>
					<key>CPUKind</key>
					<string>Intel Core i7</string>
					<key>CPUSpeedInMHz</key>
					<integer>2600</integer>
					<key>Identifier</key>
					<string>97DE8DBE-67D5-55C3-B5B1-67DD4F8EB5AD</string>
					<key>IsConcreteDevice</key>
					<true/>
					<key>LogicalCPUCoresPerPackage</key>
					<integer>12</integer>
					<key>ModelCode</key>
					<string>MacBookPro15,1</string>
					<key>ModelName</key>
					<string>MacBook Pro</string>
					<key>ModelUTI</key>
					<string>com.apple.macbookpro-15-retina-touchid-2018</string>
					<key>Name</key>
					<string>My Mac</string>
					<key>NativeArchitecture</key>
					<string>x86_64h</string>
					<key>OperatingSystemVersion</key>
					<string>10.13.6</string>
					<key>OperatingSystemVersionWithBuildNumber</key>
					<string>10.13.6 (17G2307)</string>
					<key>PhysicalCPUCoresPerPackage</key>
					<integer>6</integer>
					<key>Platform</key>
					<dict>
						<key>Identifier</key>
						<string>com.apple.platform.macosx</string>
						<key>Name</key>
						<string>macOS</string>
					</dict>
					<key>RAMSizeInMegabytes</key>
					<integer>16384</integer>
				</dict>
				<key>Name</key>
				<string>iPhone 7</string>
				<key>TargetArchitecture</key>
				<string>x86_64</string>
				<key>TargetDevice</key>
				<dict>
					<key>Identifier</key>
					<string>CF50573A-14A4-4AE1-842B-19E5492AA01E</string>
					<key>IsConcreteDevice</key>
					<true/>
					<key>ModelCode</key>
					<string>iPhone9,1</string>
					<key>ModelName</key>
					<string>iPhone 7</string>
					<key>ModelUTI</key>
					<string>com.apple.iphone-7-1</string>
					<key>Name</key>
					<string>iPhone 7</string>
					<key>NativeArchitecture</key>
					<string>x86_64</string>
					<key>OperatingSystemVersion</key>
					<string>12.1</string>
					<key>OperatingSystemVersionWithBuildNumber</key>
					<string>12.1 (16B91)</string>
					<key>Platform</key>
					<dict>
						<key>Identifier</key>
						<string>com.apple.platform.iphonesimulator</string>
						<key>Name</key>
						<string>iOS Simulator</string>
					</dict>
				</dict>
				<key>TargetSDK</key>
				<dict>
					<key>Identifier</key>
					<string>iphonesimulator12.1</string>
					<key>IsInternal</key>
					<false/>
					<key>Name</key>
					<string>Simulator - iOS 12.1</string>
					<key>OperatingSystemVersion</key>
					<string>12.1</string>
				</dict>
			</dict>
			<key>SchemeCommand</key>
			<string>Run</string>
			<key>SchemeTask</key>
			<string>Build</string>
			<key>StartedTime</key>
			<date>2018-12-06T06:03:16Z</date>
			<key>Title</key>
			<string>Clean "HudaPoc"</string>
		</dict>
		<dict>
			<key>ActionResult</key>
			<dict>
				<key>AnalyzerWarningCount</key>
				<integer>0</integer>
				<key>ErrorCount</key>
				<integer>0</integer>
				<key>HasCodeCoverage</key>
				<false/>
				<key>Status</key>
				<string>IDEActionResultStatus_NotRequested</string>
				<key>TestsCount</key>
				<integer>0</integer>
				<key>TestsFailedCount</key>
				<integer>0</integer>
				<key>WarningCount</key>
				<integer>0</integer>
			</dict>
			<key>BuildResult</key>
			<dict>
				<key>AnalyzerWarningCount</key>
				<integer>0</integer>
				<key>AnalyzerWarningSummaries</key>
				<array/>
				<key>ErrorCount</key>
				<integer>4</integer>
				<key>ErrorSummaries</key>
				<array>
					<dict>
						<key>DocumentLocationData</key>
						<data>
						YnBsaXN0MDDUAQIDBAUGJCVYJHZl
						cnNpb25YJG9iamVjdHNZJGFyY2hp
						dmVyVCR0b3ASAAGGoKQHCBscVSRu
						dWxs2gkKCwwNDg8QERITFBQVFhcY
						GRgaW2RvY3VtZW50VVJMXxAUc3Rh
						cnRpbmdDb2x1bW5OdW1iZXJfEBJl
						bmRpbmdDb2x1bW5OdW1iZXJfEBFj
						aGFyYWN0ZXJSYW5nZUxlbl8QEGxv
						Y2F0aW9uRW5jb2RpbmdWJGNsYXNz
						XxAQZW5kaW5nTGluZU51bWJlcll0
						aW1lc3RhbXBfEBJzdGFydGluZ0xp
						bmVOdW1iZXJfEBFjaGFyYWN0ZXJS
						YW5nZUxvY4ACEAcQABABgAMQC4AA
						EMdfEEtmaWxlOi8vL1VzZXJzL3Jh
						ZmVlcWNlL3Byb2plY3RzL2lPUy9I
						dWRhUG9jL0h1ZGFQb2MvUHJvZmls
						ZXMvU2lnblVwVkMuc3dpZnTSHR4f
						IFokY2xhc3NuYW1lWCRjbGFzc2Vz
						XxAXRFZUVGV4dERvY3VtZW50TG9j
						YXRpb26jISIjXxAXRFZUVGV4dERv
						Y3VtZW50TG9jYXRpb25fEBNEVlRE
						b2N1bWVudExvY2F0aW9uWE5TT2Jq
						ZWN0XxAPTlNLZXllZEFyY2hpdmVy
						0SYnVHJvb3SAAQAIABEAGgAjAC0A
						MgA3ADwAQgBXAGMAegCPAKMAtgC9
						ANAA2gDvAQMBBQEHAQkBCwENAQ8B
						EQETAWEBZgFxAXoBlAGYAbIByAHR
						AeMB5gHrAAAAAAAAAgEAAAAAAAAA
						KAAAAAAAAAAAAAAAAAAAAe0=
						</data>
						<key>IssueType</key>
						<string>Swift Compiler Error</string>
						<key>Message</key>
						<string>No such module 'RxSwift'</string>
					</dict>
					<dict>
						<key>DocumentLocationData</key>
						<data>
						YnBsaXN0MDDUAQIDBAUGJCVYJHZl
						cnNpb25YJG9iamVjdHNZJGFyY2hp
						dmVyVCR0b3ASAAGGoKQHCBscVSRu
						dWxs2gkKCwwNDg8QERITFBQVFhcY
						GRgaW2RvY3VtZW50VVJMXxAUc3Rh
						cnRpbmdDb2x1bW5OdW1iZXJfEBJl
						bmRpbmdDb2x1bW5OdW1iZXJfEBFj
						aGFyYWN0ZXJSYW5nZUxlbl8QEGxv
						Y2F0aW9uRW5jb2RpbmdWJGNsYXNz
						XxAQZW5kaW5nTGluZU51bWJlcll0
						aW1lc3RhbXBfEBJzdGFydGluZ0xp
						bmVOdW1iZXJfEBFjaGFyYWN0ZXJS
						YW5nZUxvY4ACEAcQABABgAMQC4AA
						EMdfEEtmaWxlOi8vL1VzZXJzL3Jh
						ZmVlcWNlL3Byb2plY3RzL2lPUy9I
						dWRhUG9jL0h1ZGFQb2MvUHJvZmls
						ZXMvU2lnblVwVkMuc3dpZnTSHR4f
						IFokY2xhc3NuYW1lWCRjbGFzc2Vz
						XxAXRFZUVGV4dERvY3VtZW50TG9j
						YXRpb26jISIjXxAXRFZUVGV4dERv
						Y3VtZW50TG9jYXRpb25fEBNEVlRE
						b2N1bWVudExvY2F0aW9uWE5TT2Jq
						ZWN0XxAPTlNLZXllZEFyY2hpdmVy
						0SYnVHJvb3SAAQAIABEAGgAjAC0A
						MgA3ADwAQgBXAGMAegCPAKMAtgC9
						ANAA2gDvAQMBBQEHAQkBCwENAQ8B
						EQETAWEBZgFxAXoBlAGYAbIByAHR
						AeMB5gHrAAAAAAAAAgEAAAAAAAAA
						KAAAAAAAAAAAAAAAAAAAAe0=
						</data>
						<key>IssueType</key>
						<string>Swift Compiler Error</string>
						<key>Message</key>
						<string>No such module 'RxSwift'</string>
					</dict>
					<dict>
						<key>DocumentLocationData</key>
						<data>
						YnBsaXN0MDDUAQIDBAUGJCVYJHZl
						cnNpb25YJG9iamVjdHNZJGFyY2hp
						dmVyVCR0b3ASAAGGoKQHCBscVSRu
						dWxs2gkKCwwNDg8QERITFBQVFhcY
						GRgaW2RvY3VtZW50VVJMXxAUc3Rh
						cnRpbmdDb2x1bW5OdW1iZXJfEBJl
						bmRpbmdDb2x1bW5OdW1iZXJfEBFj
						aGFyYWN0ZXJSYW5nZUxlbl8QEGxv
						Y2F0aW9uRW5jb2RpbmdWJGNsYXNz
						XxAQZW5kaW5nTGluZU51bWJlcll0
						aW1lc3RhbXBfEBJzdGFydGluZ0xp
						bmVOdW1iZXJfEBFjaGFyYWN0ZXJS
						YW5nZUxvY4ACEAcQABABgAMQC4AA
						EMdfEEtmaWxlOi8vL1VzZXJzL3Jh
						ZmVlcWNlL3Byb2plY3RzL2lPUy9I
						dWRhUG9jL0h1ZGFQb2MvUHJvZmls
						ZXMvU2lnblVwVkMuc3dpZnTSHR4f
						IFokY2xhc3NuYW1lWCRjbGFzc2Vz
						XxAXRFZUVGV4dERvY3VtZW50TG9j
						YXRpb26jISIjXxAXRFZUVGV4dERv
						Y3VtZW50TG9jYXRpb25fEBNEVlRE
						b2N1bWVudExvY2F0aW9uWE5TT2Jq
						ZWN0XxAPTlNLZXllZEFyY2hpdmVy
						0SYnVHJvb3SAAQAIABEAGgAjAC0A
						MgA3ADwAQgBXAGMAegCPAKMAtgC9
						ANAA2gDvAQMBBQEHAQkBCwENAQ8B
						EQETAWEBZgFxAXoBlAGYAbIByAHR
						AeMB5gHrAAAAAAAAAgEAAAAAAAAA
						KAAAAAAAAAAAAAAAAAAAAe0=
						</data>
						<key>IssueType</key>
						<string>Swift Compiler Error</string>
						<key>Message</key>
						<string>No such module 'RxSwift'</string>
					</dict>
					<dict>
						<key>DocumentLocationData</key>
						<data>
						YnBsaXN0MDDUAQIDBAUGJCVYJHZl
						cnNpb25YJG9iamVjdHNZJGFyY2hp
						dmVyVCR0b3ASAAGGoKQHCBscVSRu
						dWxs2gkKCwwNDg8QERITFBQVFhcY
						GRgaW2RvY3VtZW50VVJMXxAUc3Rh
						cnRpbmdDb2x1bW5OdW1iZXJfEBJl
						bmRpbmdDb2x1bW5OdW1iZXJfEBFj
						aGFyYWN0ZXJSYW5nZUxlbl8QEGxv
						Y2F0aW9uRW5jb2RpbmdWJGNsYXNz
						XxAQZW5kaW5nTGluZU51bWJlcll0
						aW1lc3RhbXBfEBJzdGFydGluZ0xp
						bmVOdW1iZXJfEBFjaGFyYWN0ZXJS
						YW5nZUxvY4ACEAcQABABgAMQC4AA
						EMdfEEtmaWxlOi8vL1VzZXJzL3Jh
						ZmVlcWNlL3Byb2plY3RzL2lPUy9I
						dWRhUG9jL0h1ZGFQb2MvUHJvZmls
						ZXMvU2lnblVwVkMuc3dpZnTSHR4f
						IFokY2xhc3NuYW1lWCRjbGFzc2Vz
						XxAXRFZUVGV4dERvY3VtZW50TG9j
						YXRpb26jISIjXxAXRFZUVGV4dERv
						Y3VtZW50TG9jYXRpb25fEBNEVlRE
						b2N1bWVudExvY2F0aW9uWE5TT2Jq
						ZWN0XxAPTlNLZXllZEFyY2hpdmVy
						0SYnVHJvb3SAAQAIABEAGgAjAC0A
						MgA3ADwAQgBXAGMAegCPAKMAtgC9
						ANAA2gDvAQMBBQEHAQkBCwENAQ8B
						EQETAWEBZgFxAXoBlAGYAbIByAHR
						AeMB5gHrAAAAAAAAAgEAAAAAAAAA
						KAAAAAAAAAAAAAAAAAAAAe0=
						</data>
						<key>IssueType</key>
						<string>Swift Compiler Error</string>
						<key>Message</key>
						<string>No such module 'RxSwift'</string>
					</dict>
				</array>
				<key>HasCodeCoverage</key>
				<false/>
				<key>LogPath</key>
				<string>2_Run/build.xcactivitylog</string>
				<key>Status</key>
				<string>IDEActionResultStatus_Failed</string>
				<key>TestFailureSummaries</key>
				<array/>
				<key>TestsCount</key>
				<integer>0</integer>
				<key>TestsFailedCount</key>
				<integer>0</integer>
				<key>WarningCount</key>
				<integer>0</integer>
				<key>WarningSummaries</key>
				<array/>
			</dict>
			<key>EndedTime</key>
			<date>2018-12-06T06:03:23Z</date>
			<key>RunDestination</key>
			<dict>
				<key>LocalComputer</key>
				<dict>
					<key>BusSpeedInMHz</key>
					<integer>400</integer>
					<key>CPUCount</key>
					<integer>1</integer>
					<key>CPUKind</key>
					<string>Intel Core i7</string>
					<key>CPUSpeedInMHz</key>
					<integer>2600</integer>
					<key>Identifier</key>
					<string>97DE8DBE-67D5-55C3-B5B1-67DD4F8EB5AD</string>
					<key>IsConcreteDevice</key>
					<true/>
					<key>LogicalCPUCoresPerPackage</key>
					<integer>12</integer>
					<key>ModelCode</key>
					<string>MacBookPro15,1</string>
					<key>ModelName</key>
					<string>MacBook Pro</string>
					<key>ModelUTI</key>
					<string>com.apple.macbookpro-15-retina-touchid-2018</string>
					<key>Name</key>
					<string>My Mac</string>
					<key>NativeArchitecture</key>
					<string>x86_64h</string>
					<key>OperatingSystemVersion</key>
					<string>10.13.6</string>
					<key>OperatingSystemVersionWithBuildNumber</key>
					<string>10.13.6 (17G2307)</string>
					<key>PhysicalCPUCoresPerPackage</key>
					<integer>6</integer>
					<key>Platform</key>
					<dict>
						<key>Identifier</key>
						<string>com.apple.platform.macosx</string>
						<key>Name</key>
						<string>macOS</string>
					</dict>
					<key>RAMSizeInMegabytes</key>
					<integer>16384</integer>
				</dict>
				<key>Name</key>
				<string>iPhone 7</string>
				<key>TargetArchitecture</key>
				<string>x86_64</string>
				<key>TargetDevice</key>
				<dict>
					<key>Identifier</key>
					<string>CF50573A-14A4-4AE1-842B-19E5492AA01E</string>
					<key>IsConcreteDevice</key>
					<true/>
					<key>ModelCode</key>
					<string>iPhone9,1</string>
					<key>ModelName</key>
					<string>iPhone 7</string>
					<key>ModelUTI</key>
					<string>com.apple.iphone-7-1</string>
					<key>Name</key>
					<string>iPhone 7</string>
					<key>NativeArchitecture</key>
					<string>x86_64</string>
					<key>OperatingSystemVersion</key>
					<string>12.1</string>
					<key>OperatingSystemVersionWithBuildNumber</key>
					<string>12.1 (16B91)</string>
					<key>Platform</key>
					<dict>
						<key>Identifier</key>
						<string>com.apple.platform.iphonesimulator</string>
						<key>Name</key>
						<string>iOS Simulator</string>
					</dict>
				</dict>
				<key>TargetSDK</key>
				<dict>
					<key>Identifier</key>
					<string>iphonesimulator12.1</string>
					<key>IsInternal</key>
					<false/>
					<key>Name</key>
					<string>Simulator - iOS 12.1</string>
					<key>OperatingSystemVersion</key>
					<string>12.1</string>
				</dict>
			</dict>
			<key>SchemeCommand</key>
			<string>Run</string>
			<key>SchemeTask</key>
			<string>Build</string>
			<key>StartedTime</key>
			<date>2018-12-06T06:03:16Z</date>
			<key>Title</key>
			<string>Build "HudaPoc"</string>
		</dict>
		<dict>
			<key>ActionResult</key>
			<dict>
				<key>AnalyzerWarningCount</key>
				<integer>0</integer>
				<key>AnalyzerWarningSummaries</key>
				<array/>
				<key>ErrorCount</key>
				<integer>1</integer>
				<key>ErrorSummaries</key>
				<array>
					<dict>
						<key>IssueType</key>
						<string>Uncategorized</string>
						<key>Message</key>
						<string>Testing cancelled because the build failed.</string>
					</dict>
				</array>
				<key>HasCodeCoverage</key>
				<true/>
				<key>LogPath</key>
				<string>3_Test/action.xcactivitylog</string>
				<key>Status</key>
				<string>IDEActionResultStatus_Cancelled</string>
				<key>TestFailureSummaries</key>
				<array/>
				<key>TestsCount</key>
				<integer>0</integer>
				<key>TestsFailedCount</key>
				<integer>0</integer>
				<key>WarningCount</key>
				<integer>0</integer>
				<key>WarningSummaries</key>
				<array/>
			</dict>
			<key>BuildResult</key>
			<dict>
				<key>AnalyzerWarningCount</key>
				<integer>0</integer>
				<key>AnalyzerWarningSummaries</key>
				<array/>
				<key>ErrorCount</key>
				<integer>4</integer>
				<key>ErrorSummaries</key>
				<array>
					<dict>
						<key>DocumentLocationData</key>
						<data>
						YnBsaXN0MDDUAQIDBAUGJCVYJHZl
						cnNpb25YJG9iamVjdHNZJGFyY2hp
						dmVyVCR0b3ASAAGGoKQHCBscVSRu
						dWxs2gkKCwwNDg8QERITFBQVFhcY
						GRgaW2RvY3VtZW50VVJMXxAUc3Rh
						cnRpbmdDb2x1bW5OdW1iZXJfEBJl
						bmRpbmdDb2x1bW5OdW1iZXJfEBFj
						aGFyYWN0ZXJSYW5nZUxlbl8QEGxv
						Y2F0aW9uRW5jb2RpbmdWJGNsYXNz
						XxAQZW5kaW5nTGluZU51bWJlcll0
						aW1lc3RhbXBfEBJzdGFydGluZ0xp
						bmVOdW1iZXJfEBFjaGFyYWN0ZXJS
						YW5nZUxvY4ACEAcQABABgAMQC4AA
						EMdfEEtmaWxlOi8vL1VzZXJzL3Jh
						ZmVlcWNlL3Byb2plY3RzL2lPUy9I
						dWRhUG9jL0h1ZGFQb2MvUHJvZmls
						ZXMvU2lnblVwVkMuc3dpZnTSHR4f
						IFokY2xhc3NuYW1lWCRjbGFzc2Vz
						XxAXRFZUVGV4dERvY3VtZW50TG9j
						YXRpb26jISIjXxAXRFZUVGV4dERv
						Y3VtZW50TG9jYXRpb25fEBNEVlRE
						b2N1bWVudExvY2F0aW9uWE5TT2Jq
						ZWN0XxAPTlNLZXllZEFyY2hpdmVy
						0SYnVHJvb3SAAQAIABEAGgAjAC0A
						MgA3ADwAQgBXAGMAegCPAKMAtgC9
						ANAA2gDvAQMBBQEHAQkBCwENAQ8B
						EQETAWEBZgFxAXoBlAGYAbIByAHR
						AeMB5gHrAAAAAAAAAgEAAAAAAAAA
						KAAAAAAAAAAAAAAAAAAAAe0=
						</data>
						<key>IssueType</key>
						<string>Swift Compiler Error</string>
						<key>Message</key>
						<string>No such module 'RxSwift'</string>
					</dict>
					<dict>
						<key>DocumentLocationData</key>
						<data>
						YnBsaXN0MDDUAQIDBAUGJCVYJHZl
						cnNpb25YJG9iamVjdHNZJGFyY2hp
						dmVyVCR0b3ASAAGGoKQHCBscVSRu
						dWxs2gkKCwwNDg8QERITFBQVFhcY
						GRgaW2RvY3VtZW50VVJMXxAUc3Rh
						cnRpbmdDb2x1bW5OdW1iZXJfEBJl
						bmRpbmdDb2x1bW5OdW1iZXJfEBFj
						aGFyYWN0ZXJSYW5nZUxlbl8QEGxv
						Y2F0aW9uRW5jb2RpbmdWJGNsYXNz
						XxAQZW5kaW5nTGluZU51bWJlcll0
						aW1lc3RhbXBfEBJzdGFydGluZ0xp
						bmVOdW1iZXJfEBFjaGFyYWN0ZXJS
						YW5nZUxvY4ACEAcQABABgAMQC4AA
						EMdfEEtmaWxlOi8vL1VzZXJzL3Jh
						ZmVlcWNlL3Byb2plY3RzL2lPUy9I
						dWRhUG9jL0h1ZGFQb2MvUHJvZmls
						ZXMvU2lnblVwVkMuc3dpZnTSHR4f
						IFokY2xhc3NuYW1lWCRjbGFzc2Vz
						XxAXRFZUVGV4dERvY3VtZW50TG9j
						YXRpb26jISIjXxAXRFZUVGV4dERv
						Y3VtZW50TG9jYXRpb25fEBNEVlRE
						b2N1bWVudExvY2F0aW9uWE5TT2Jq
						ZWN0XxAPTlNLZXllZEFyY2hpdmVy
						0SYnVHJvb3SAAQAIABEAGgAjAC0A
						MgA3ADwAQgBXAGMAegCPAKMAtgC9
						ANAA2gDvAQMBBQEHAQkBCwENAQ8B
						EQETAWEBZgFxAXoBlAGYAbIByAHR
						AeMB5gHrAAAAAAAAAgEAAAAAAAAA
						KAAAAAAAAAAAAAAAAAAAAe0=
						</data>
						<key>IssueType</key>
						<string>Swift Compiler Error</string>
						<key>Message</key>
						<string>No such module 'RxSwift'</string>
					</dict>
					<dict>
						<key>DocumentLocationData</key>
						<data>
						YnBsaXN0MDDUAQIDBAUGJCVYJHZl
						cnNpb25YJG9iamVjdHNZJGFyY2hp
						dmVyVCR0b3ASAAGGoKQHCBscVSRu
						dWxs2gkKCwwNDg8QERITFBQVFhcY
						GRgaW2RvY3VtZW50VVJMXxAUc3Rh
						cnRpbmdDb2x1bW5OdW1iZXJfEBJl
						bmRpbmdDb2x1bW5OdW1iZXJfEBFj
						aGFyYWN0ZXJSYW5nZUxlbl8QEGxv
						Y2F0aW9uRW5jb2RpbmdWJGNsYXNz
						XxAQZW5kaW5nTGluZU51bWJlcll0
						aW1lc3RhbXBfEBJzdGFydGluZ0xp
						bmVOdW1iZXJfEBFjaGFyYWN0ZXJS
						YW5nZUxvY4ACEAcQABABgAMQC4AA
						EMdfEEtmaWxlOi8vL1VzZXJzL3Jh
						ZmVlcWNlL3Byb2plY3RzL2lPUy9I
						dWRhUG9jL0h1ZGFQb2MvUHJvZmls
						ZXMvU2lnblVwVkMuc3dpZnTSHR4f
						IFokY2xhc3NuYW1lWCRjbGFzc2Vz
						XxAXRFZUVGV4dERvY3VtZW50TG9j
						YXRpb26jISIjXxAXRFZUVGV4dERv
						Y3VtZW50TG9jYXRpb25fEBNEVlRE
						b2N1bWVudExvY2F0aW9uWE5TT2Jq
						ZWN0XxAPTlNLZXllZEFyY2hpdmVy
						0SYnVHJvb3SAAQAIABEAGgAjAC0A
						MgA3ADwAQgBXAGMAegCPAKMAtgC9
						ANAA2gDvAQMBBQEHAQkBCwENAQ8B
						EQETAWEBZgFxAXoBlAGYAbIByAHR
						AeMB5gHrAAAAAAAAAgEAAAAAAAAA
						KAAAAAAAAAAAAAAAAAAAAe0=
						</data>
						<key>IssueType</key>
						<string>Swift Compiler Error</string>
						<key>Message</key>
						<string>No such module 'RxSwift'</string>
					</dict>
					<dict>
						<key>DocumentLocationData</key>
						<data>
						YnBsaXN0MDDUAQIDBAUGJCVYJHZl
						cnNpb25YJG9iamVjdHNZJGFyY2hp
						dmVyVCR0b3ASAAGGoKQHCBscVSRu
						dWxs2gkKCwwNDg8QERITFBQVFhcY
						GRgaW2RvY3VtZW50VVJMXxAUc3Rh
						cnRpbmdDb2x1bW5OdW1iZXJfEBJl
						bmRpbmdDb2x1bW5OdW1iZXJfEBFj
						aGFyYWN0ZXJSYW5nZUxlbl8QEGxv
						Y2F0aW9uRW5jb2RpbmdWJGNsYXNz
						XxAQZW5kaW5nTGluZU51bWJlcll0
						aW1lc3RhbXBfEBJzdGFydGluZ0xp
						bmVOdW1iZXJfEBFjaGFyYWN0ZXJS
						YW5nZUxvY4ACEAcQABABgAMQC4AA
						EMdfEEtmaWxlOi8vL1VzZXJzL3Jh
						ZmVlcWNlL3Byb2plY3RzL2lPUy9I
						dWRhUG9jL0h1ZGFQb2MvUHJvZmls
						ZXMvU2lnblVwVkMuc3dpZnTSHR4f
						IFokY2xhc3NuYW1lWCRjbGFzc2Vz
						XxAXRFZUVGV4dERvY3VtZW50TG9j
						YXRpb26jISIjXxAXRFZUVGV4dERv
						Y3VtZW50TG9jYXRpb25fEBNEVlRE
						b2N1bWVudExvY2F0aW9uWE5TT2Jq
						ZWN0XxAPTlNLZXllZEFyY2hpdmVy
						0SYnVHJvb3SAAQAIABEAGgAjAC0A
						MgA3ADwAQgBXAGMAegCPAKMAtgC9
						ANAA2gDvAQMBBQEHAQkBCwENAQ8B
						EQETAWEBZgFxAXoBlAGYAbIByAHR
						AeMB5gHrAAAAAAAAAgEAAAAAAAAA
						KAAAAAAAAAAAAAAAAAAAAe0=
						</data>
						<key>IssueType</key>
						<string>Swift Compiler Error</string>
						<key>Message</key>
						<string>No such module 'RxSwift'</string>
					</dict>
				</array>
				<key>HasCodeCoverage</key>
				<false/>
				<key>LogPath</key>
				<string>3_Test/build.xcactivitylog</string>
				<key>Status</key>
				<string>IDEActionResultStatus_Failed</string>
				<key>TestFailureSummaries</key>
				<array/>
				<key>TestsCount</key>
				<integer>0</integer>
				<key>TestsFailedCount</key>
				<integer>0</integer>
				<key>WarningCount</key>
				<integer>0</integer>
				<key>WarningSummaries</key>
				<array/>
			</dict>
			<key>EndedTime</key>
			<date>2018-12-06T06:03:23Z</date>
			<key>RunDestination</key>
			<dict>
				<key>LocalComputer</key>
				<dict>
					<key>BusSpeedInMHz</key>
					<integer>400</integer>
					<key>CPUCount</key>
					<integer>1</integer>
					<key>CPUKind</key>
					<string>Intel Core i7</string>
					<key>CPUSpeedInMHz</key>
					<integer>2600</integer>
					<key>Identifier</key>
					<string>97DE8DBE-67D5-55C3-B5B1-67DD4F8EB5AD</string>
					<key>IsConcreteDevice</key>
					<true/>
					<key>LogicalCPUCoresPerPackage</key>
					<integer>12</integer>
					<key>ModelCode</key>
					<string>MacBookPro15,1</string>
					<key>ModelName</key>
					<string>MacBook Pro</string>
					<key>ModelUTI</key>
					<string>com.apple.macbookpro-15-retina-touchid-2018</string>
					<key>Name</key>
					<string>My Mac</string>
					<key>NativeArchitecture</key>
					<string>x86_64h</string>
					<key>OperatingSystemVersion</key>
					<string>10.13.6</string>
					<key>OperatingSystemVersionWithBuildNumber</key>
					<string>10.13.6 (17G2307)</string>
					<key>PhysicalCPUCoresPerPackage</key>
					<integer>6</integer>
					<key>Platform</key>
					<dict>
						<key>Identifier</key>
						<string>com.apple.platform.macosx</string>
						<key>Name</key>
						<string>macOS</string>
					</dict>
					<key>RAMSizeInMegabytes</key>
					<integer>16384</integer>
				</dict>
				<key>Name</key>
				<string>iPhone 7</string>
				<key>TargetArchitecture</key>
				<string>x86_64</string>
				<key>TargetDevice</key>
				<dict>
					<key>Identifier</key>
					<string>CF50573A-14A4-4AE1-842B-19E5492AA01E</string>
					<key>IsConcreteDevice</key>
					<true/>
					<key>ModelCode</key>
					<string>iPhone9,1</string>
					<key>ModelName</key>
					<string>iPhone 7</string>
					<key>ModelUTI</key>
					<string>com.apple.iphone-7-1</string>
					<key>Name</key>
					<string>iPhone 7</string>
					<key>NativeArchitecture</key>
					<string>x86_64</string>
					<key>OperatingSystemVersion</key>
					<string>12.1</string>
					<key>OperatingSystemVersionWithBuildNumber</key>
					<string>12.1 (16B91)</string>
					<key>Platform</key>
					<dict>
						<key>Identifier</key>
						<string>com.apple.platform.iphonesimulator</string>
						<key>Name</key>
						<string>iOS Simulator</string>
					</dict>
				</dict>
				<key>TargetSDK</key>
				<dict>
					<key>Identifier</key>
					<string>iphonesimulator12.1</string>
					<key>IsInternal</key>
					<false/>
					<key>Name</key>
					<string>Simulator - iOS 12.1</string>
					<key>OperatingSystemVersion</key>
					<string>12.1</string>
				</dict>
			</dict>
			<key>SchemeCommand</key>
			<string>Test</string>
			<key>SchemeTask</key>
			<string>BuildAndAction</string>
			<key>StartedTime</key>
			<date>2018-12-06T06:03:23Z</date>
			<key>Title</key>
			<string>Testing project HudaPoc with scheme HudaPoc</string>
		</dict>
	</array>
	<key>AnalyzerWarningCount</key>
	<integer>0</integer>
	<key>CreatingWorkspaceFilePath</key>
	<string>/Users/rafeeqce/projects/iOS/HudaPoc/HudaPoc.xcodeproj</string>
	<key>ErrorCount</key>
	<integer>2</integer>
	<key>ErrorSummaries</key>
	<array>
		<dict>
			<key>DocumentLocationData</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGJCVYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoKQHCBscVSRudWxs2gkKCwwNDg8QERIT
			FBQVFhcYGRgaW2RvY3VtZW50VVJMXxAUc3RhcnRpbmdDb2x1bW5O
			dW1iZXJfEBJlbmRpbmdDb2x1bW5OdW1iZXJfEBFjaGFyYWN0ZXJS
			YW5nZUxlbl8QEGxvY2F0aW9uRW5jb2RpbmdWJGNsYXNzXxAQZW5k
			aW5nTGluZU51bWJlcll0aW1lc3RhbXBfEBJzdGFydGluZ0xpbmVO
			dW1iZXJfEBFjaGFyYWN0ZXJSYW5nZUxvY4ACEAcQABABgAMQC4AA
			EMdfEEtmaWxlOi8vL1VzZXJzL3JhZmVlcWNlL3Byb2plY3RzL2lP
			Uy9IdWRhUG9jL0h1ZGFQb2MvUHJvZmlsZXMvU2lnblVwVkMuc3dp
			ZnTSHR4fIFokY2xhc3NuYW1lWCRjbGFzc2VzXxAXRFZUVGV4dERv
			Y3VtZW50TG9jYXRpb26jISIjXxAXRFZUVGV4dERvY3VtZW50TG9j
			YXRpb25fEBNEVlREb2N1bWVudExvY2F0aW9uWE5TT2JqZWN0XxAP
			TlNLZXllZEFyY2hpdmVy0SYnVHJvb3SAAQAIABEAGgAjAC0AMgA3
			ADwAQgBXAGMAegCPAKMAtgC9ANAA2gDvAQMBBQEHAQkBCwENAQ8B
			EQETAWEBZgFxAXoBlAGYAbIByAHRAeMB5gHrAAAAAAAAAgEAAAAA
			AAAAKAAAAAAAAAAAAAAAAAAAAe0=
			</data>
			<key>IssueType</key>
			<string>Swift Compiler Error</string>
			<key>Message</key>
			<string>No such module 'RxSwift'</string>
		</dict>
		<dict>
			<key>IssueType</key>
			<string>Uncategorized</string>
			<key>Message</key>
			<string>Testing cancelled because the build failed.</string>
		</dict>
	</array>
	<key>FormatVersion</key>
	<string>1.2</string>
	<key>Running</key>
	<false/>
	<key>TestsCount</key>
	<integer>0</integer>
	<key>TestsFailedCount</key>
	<integer>0</integer>
	<key>WarningCount</key>
	<integer>0</integer>
</dict>
</plist>
