<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FormatVersion</key>
	<string>1.2</string>
	<key>RunDestination</key>
	<dict>
		<key>LocalComputer</key>
		<dict>
			<key>BusSpeedInMHz</key>
			<integer>400</integer>
			<key>CPUCount</key>
			<integer>1</integer>
			<key>CPUKind</key>
			<string>Intel Core i7</string>
			<key>CPUSpeedInMHz</key>
			<integer>2600</integer>
			<key>Identifier</key>
			<string>97DE8DBE-67D5-55C3-B5B1-67DD4F8EB5AD</string>
			<key>IsConcreteDevice</key>
			<true/>
			<key>LogicalCPUCoresPerPackage</key>
			<integer>12</integer>
			<key>ModelCode</key>
			<string>MacBookPro15,1</string>
			<key>ModelName</key>
			<string>MacBook Pro</string>
			<key>ModelUTI</key>
			<string>com.apple.macbookpro-15-retina-touchid-2018</string>
			<key>Name</key>
			<string>My Mac</string>
			<key>NativeArchitecture</key>
			<string>x86_64h</string>
			<key>OperatingSystemVersion</key>
			<string>10.13.6</string>
			<key>OperatingSystemVersionWithBuildNumber</key>
			<string>10.13.6 (17G2307)</string>
			<key>PhysicalCPUCoresPerPackage</key>
			<integer>6</integer>
			<key>Platform</key>
			<dict>
				<key>Identifier</key>
				<string>com.apple.platform.macosx</string>
				<key>Name</key>
				<string>macOS</string>
			</dict>
			<key>RAMSizeInMegabytes</key>
			<integer>16384</integer>
		</dict>
		<key>Name</key>
		<string>iPhone 7</string>
		<key>TargetArchitecture</key>
		<string>x86_64</string>
		<key>TargetDevice</key>
		<dict>
			<key>Identifier</key>
			<string>CF50573A-14A4-4AE1-842B-19E5492AA01E</string>
			<key>IsConcreteDevice</key>
			<true/>
			<key>ModelCode</key>
			<string>iPhone9,1</string>
			<key>ModelName</key>
			<string>iPhone 7</string>
			<key>ModelUTI</key>
			<string>com.apple.iphone-7-1</string>
			<key>Name</key>
			<string>iPhone 7</string>
			<key>NativeArchitecture</key>
			<string>x86_64</string>
			<key>OperatingSystemVersion</key>
			<string>12.1</string>
			<key>OperatingSystemVersionWithBuildNumber</key>
			<string>12.1 (16B91)</string>
			<key>Platform</key>
			<dict>
				<key>Identifier</key>
				<string>com.apple.platform.iphonesimulator</string>
				<key>Name</key>
				<string>iOS Simulator</string>
			</dict>
		</dict>
		<key>TargetSDK</key>
		<dict>
			<key>Identifier</key>
			<string>iphonesimulator12.1</string>
			<key>IsInternal</key>
			<false/>
			<key>Name</key>
			<string>Simulator - iOS 12.1</string>
			<key>OperatingSystemVersion</key>
			<string>12.1</string>
		</dict>
	</dict>
	<key>TestableSummaries</key>
	<array>
		<dict>
			<key>DiagnosticsDirectory</key>
			<string>HudaPocTests-EC9B97E1-E8D1-47C7-B8E1-02812B8CEDA3</string>
			<key>ProjectPath</key>
			<string>HudaPoc.xcodeproj</string>
			<key>TargetName</key>
			<string>HudaPocTests</string>
			<key>TestKind</key>
			<string>app hosted</string>
			<key>TestName</key>
			<string>HudaPocTests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Duration</key>
					<real>0.63722908496856689</real>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Duration</key>
							<real>0.63596200942993164</real>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Duration</key>
									<real>0.053586959838867188</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.052837967872619629</real>
											<key>TestIdentifier</key>
											<string>CategoryListTests/testCategoryCount()</string>
											<key>TestName</key>
											<string>testCategoryCount()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>771715F8-7199-4187-B551-F679CC3D8506</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>CategoryListTests</string>
									<key>TestName</key>
									<string>CategoryListTests</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
								<dict>
									<key>Duration</key>
									<real>0.10404396057128906</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.1033710241317749</real>
											<key>TestIdentifier</key>
											<string>EditProfileTests/testNumberOfWidgets()</string>
											<key>TestName</key>
											<string>testNumberOfWidgets()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>41E55CCC-6ACB-4DDD-9F44-EE234990A835</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>EditProfileTests</string>
									<key>TestName</key>
									<string>EditProfileTests</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
								<dict>
									<key>Duration</key>
									<real>0.3306729793548584</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.00050199031829833984</real>
											<key>TestIdentifier</key>
											<string>HudaPocTests/testExample()</string>
											<key>TestName</key>
											<string>testExample()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>B8DE95CE-B86F-447B-BCC5-7A5723EA0CAF</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.32923901081085205</real>
											<key>PerformanceMetrics</key>
											<array>
												<dict>
													<key>Identifier</key>
													<string>com.apple.XCTPerformanceMetric_WallClockTime</string>
													<key>MaxPercentRegression</key>
													<integer>10</integer>
													<key>MaxPercentRelativeStandardDeviation</key>
													<integer>10</integer>
													<key>MaxRegression</key>
													<real>0.10000000000000001</real>
													<key>MaxStandardDeviation</key>
													<real>0.10000000000000001</real>
													<key>Measurements</key>
													<array>
														<real>2.5390000000000002e-06</real>
														<real>5.4700000000000001e-07</real>
														<real>3.9700000000000002e-07</real>
														<real>3.65e-07</real>
														<real>3.5199999999999998e-07</real>
														<real>3.4299999999999999e-07</real>
														<real>3.2899999999999999e-07</real>
														<real>3.2599999999999998e-07</real>
														<real>3.2899999999999999e-07</real>
														<real>3.3200000000000001e-07</real>
													</array>
													<key>Name</key>
													<string>Time</string>
													<key>UnitOfMeasurement</key>
													<string>seconds</string>
												</dict>
											</array>
											<key>TestIdentifier</key>
											<string>HudaPocTests/testPerformanceExample()</string>
											<key>TestName</key>
											<string>testPerformanceExample()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>7B467467-209F-4D8A-80C0-BFECFA4A6167</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>HudaPocTests</string>
									<key>TestName</key>
									<string>HudaPocTests</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
								<dict>
									<key>Duration</key>
									<real>0.0039110183715820312</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.0034379959106445312</real>
											<key>TestIdentifier</key>
											<string>ProductListTests/testNumberOfProducts()</string>
											<key>TestName</key>
											<string>testNumberOfProducts()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>176279B8-0FE0-48AA-9932-68A02C0278A3</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>ProductListTests</string>
									<key>TestName</key>
									<string>ProductListTests</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
								<dict>
									<key>Duration</key>
									<real>0.023689985275268555</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.019379973411560059</real>
											<key>TestIdentifier</key>
											<string>SettingsTests/testLanguageChange()</string>
											<key>TestName</key>
											<string>testLanguageChange()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>BCDD478B-D82D-4C0B-9AF0-914C70C8DBE9</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.0035749673843383789</real>
											<key>TestIdentifier</key>
											<string>SettingsTests/testSignOUt()</string>
											<key>TestName</key>
											<string>testSignOUt()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>FB26EC77-B0B6-4C11-A33E-A849BD86D881</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>SettingsTests</string>
									<key>TestName</key>
									<string>SettingsTests</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
								<dict>
									<key>Duration</key>
									<real>0.08965301513671875</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.04852294921875</real>
											<key>TestIdentifier</key>
											<string>SignInVCTests/testInvalidEmail()</string>
											<key>TestName</key>
											<string>testInvalidEmail()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>85335AB0-D4E7-401F-9D2E-BA33A0058D34</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.015653014183044434</real>
											<key>TestIdentifier</key>
											<string>SignInVCTests/testInvalidUserLogin()</string>
											<key>TestName</key>
											<string>testInvalidUserLogin()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>F41C870F-E6AC-4D86-83EB-33036E19A643</string>
										</dict>
										<dict>
											<key>Duration</key>
											<real>0.023796916007995605</real>
											<key>TestIdentifier</key>
											<string>SignInVCTests/testVerifyUserLogin()</string>
											<key>TestName</key>
											<string>testVerifyUserLogin()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>857BD50A-CDF9-4F59-B2EF-95F02753D8CD</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>SignInVCTests</string>
									<key>TestName</key>
									<string>SignInVCTests</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
								<dict>
									<key>Duration</key>
									<real>0.027091026306152344</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>Duration</key>
											<real>0.026428937911987305</real>
											<key>TestIdentifier</key>
											<string>SignUpTests/testCreateUser()</string>
											<key>TestName</key>
											<string>testCreateUser()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>E252483B-C9E8-45BD-AA67-BC8153C9BE16</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>SignUpTests</string>
									<key>TestName</key>
									<string>SignUpTests</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>HudaPocTests.xctest</string>
							<key>TestName</key>
							<string>HudaPocTests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>All tests</string>
					<key>TestName</key>
					<string>All tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>DiagnosticsDirectory</key>
			<string>HudaPocUITests-BC65A523-7A26-4932-9CCA-36AD33184A7F</string>
			<key>ProjectPath</key>
			<string>HudaPoc.xcodeproj</string>
			<key>TargetName</key>
			<string>HudaPocUITests</string>
			<key>TestKind</key>
			<string>UI</string>
			<key>TestName</key>
			<string>HudaPocUITests</string>
			<key>TestObjectClass</key>
			<string>IDESchemeActionTestableSummary</string>
			<key>Tests</key>
			<array>
				<dict>
					<key>Duration</key>
					<real>4.4106980562210083</real>
					<key>Subtests</key>
					<array>
						<dict>
							<key>Duration</key>
							<real>4.4094219207763672</real>
							<key>Subtests</key>
							<array>
								<dict>
									<key>Duration</key>
									<real>4.4084960222244263</real>
									<key>Subtests</key>
									<array>
										<dict>
											<key>ActivitySummaries</key>
											<array>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>565769109.02934098</real>
													<key>StartTimeInterval</key>
													<real>565769108.99593997</real>
													<key>Title</key>
													<string>Start Test at 2018-12-06 11:35:08.995</string>
													<key>UUID</key>
													<string>04BD5A07-DE2A-40AB-B89E-0A7CC0506DC4</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.deletedAttachment</string>
													<key>FinishTimeInterval</key>
													<real>565769108.99593997</real>
													<key>StartTimeInterval</key>
													<real>565769108.99593997</real>
													<key>Title</key>
													<string>Some screenshots were deleted because your scheme is configured to remove automatic screenshots on success.</string>
													<key>UUID</key>
													<string>9B68AD86-3106-48B7-AAA0-FBB20305CF1D</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>565769113.19990396</real>
													<key>StartTimeInterval</key>
													<real>565769109.030352</real>
													<key>SubActivities</key>
													<array>
														<dict>
															<key>ActivityType</key>
															<string>com.apple.dt.xctest.activity-type.internal</string>
															<key>FinishTimeInterval</key>
															<real>565769113.19939804</real>
															<key>StartTimeInterval</key>
															<real>565769109.03565705</real>
															<key>SubActivities</key>
															<array>
																<dict>
																	<key>ActivityType</key>
																	<string>com.apple.dt.xctest.activity-type.internal</string>
																	<key>FinishTimeInterval</key>
																	<real>565769113.19879103</real>
																	<key>StartTimeInterval</key>
																	<real>565769109.05481899</real>
																	<key>SubActivities</key>
																	<array>
																		<dict>
																			<key>ActivityType</key>
																			<string>com.apple.dt.xctest.activity-type.internal</string>
																			<key>FinishTimeInterval</key>
																			<real>565769112.19469798</real>
																			<key>StartTimeInterval</key>
																			<real>565769111.97578096</real>
																			<key>Title</key>
																			<string>Wait for com.rainierlabs.HudaPoc to idle</string>
																			<key>UUID</key>
																			<string>73AABD13-A940-4475-80A7-7F8FD7793BD6</string>
																		</dict>
																	</array>
																	<key>Title</key>
																	<string>Launch com.rainierlabs.HudaPoc</string>
																	<key>UUID</key>
																	<string>301BAC1F-71AC-4116-AB38-19EA4291794F</string>
																</dict>
															</array>
															<key>Title</key>
															<string>Open com.rainierlabs.HudaPoc</string>
															<key>UUID</key>
															<string>35CB267D-81DD-4F89-B945-9006AFC45AE4</string>
														</dict>
													</array>
													<key>Title</key>
													<string>Set Up</string>
													<key>UUID</key>
													<string>03F7EA79-84DF-4C57-A640-EF149F3FC3BF</string>
												</dict>
												<dict>
													<key>ActivityType</key>
													<string>com.apple.dt.xctest.activity-type.internal</string>
													<key>FinishTimeInterval</key>
													<real>565769113.20067298</real>
													<key>StartTimeInterval</key>
													<real>565769113.20031202</real>
													<key>Title</key>
													<string>Tear Down</string>
													<key>UUID</key>
													<string>84772BAE-E303-4386-8A5A-2A11C92494A6</string>
												</dict>
											</array>
											<key>Duration</key>
											<real>4.4076989889144897</real>
											<key>TestIdentifier</key>
											<string>HudaPocUITests/testExample()</string>
											<key>TestName</key>
											<string>testExample()</string>
											<key>TestObjectClass</key>
											<string>IDESchemeActionTestSummary</string>
											<key>TestStatus</key>
											<string>Success</string>
											<key>TestSummaryGUID</key>
											<string>47C1412A-8274-476D-95B2-1F732DD59AC7</string>
										</dict>
									</array>
									<key>TestIdentifier</key>
									<string>HudaPocUITests</string>
									<key>TestName</key>
									<string>HudaPocUITests</string>
									<key>TestObjectClass</key>
									<string>IDESchemeActionTestSummaryGroup</string>
								</dict>
							</array>
							<key>TestIdentifier</key>
							<string>HudaPocUITests.xctest</string>
							<key>TestName</key>
							<string>HudaPocUITests.xctest</string>
							<key>TestObjectClass</key>
							<string>IDESchemeActionTestSummaryGroup</string>
						</dict>
					</array>
					<key>TestIdentifier</key>
					<string>All tests</string>
					<key>TestName</key>
					<string>All tests</string>
					<key>TestObjectClass</key>
					<string>IDESchemeActionTestSummaryGroup</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
